{% extends 'layout_user_PA.html' %} {% block content %}
<section class="course-create_title">
  <h1 class="course-create_title-text">Add Subject</h1>
</section>
<div class="course-create_container">
  <div class="module-course_box">
    <div>
      <form method="POST" class="form-container">
        {{ form.hidden_tag() }}

        <div class="form-element">
          {{ form.title.label }} {% if form.title.errors %} {{form.title}}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.title }} {% endif %}
        </div>
        <div class="button-element">
          {{ form.submit(class = "buttonForm") }}
        </div>
      </form>
    </div>
  </div>
  <div class="box right-container_module">
    <h3>Instructions</h3>
    <ul class="course_instructions-container">
      <li class="instructions">
        Try to write a precise title. title plays an important role in ranking
        our course on first page
      </li>
      <li class="instructions">
        Introduce your course in introduction section. This willbe visible
        onfront page after title and course video. It is high chance that
        student enrols a course after just learning it's introduction
      </li>
      <li class="instructions">
        Describe every thing about your course in description section
      </li>
    </ul>
    <ul class="course_instructions-container">
      <li class="red_instructions">
        Your course will be rejected if it is not able to deliver value to
        students
      </li>
    </ul>
  </div>
</div>

{% endblock %}
