{% extends 'layout_admin.html' %} {% block content %}
<section class="course-create_title">
    <h1 class="course-create_title-text">Create Module</h1>
  </section>
  <div class="course-create_-container">
    <div class="module-course_box ">
      Box 1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab,
      excepturi iusto. Laudantium expedita vero in ipsum, quo quia ea nihil.
      Harum ab, asperiores quos quod perspiciatis porro doloremque autem,
      distinctio voluptatum mollitia maiores illum magnam aliquam, fugiat
      expedita odit. Quaerat expedita earum culpa quisquam possimus
      praesentium iure id laborum, provident eum, incidunt, ipsam officia.
      Impedit exercitationem quas animi sint ipsa aspernatur porro voluptates
      inventore quasi obcaecati velit nulla id ad aut quibusdam quidem illum
      debitis, tempora culpa atque praesentium? Ab quidem omnis, numquam dicta
      officia unde eveniet deleniti iusto libero recusandae aspernatur. Ipsa
      quaerat aspernatur facilis accusamus quae suscipit est ex distinctio
      laboriosam. Ad fuga quis distinctio laudantium, commodi ducimus
      accusantium nobis alias necessitatibus incidunt similique, doloremque
      nostrum id omnis reiciendis saepe delectus, repellendus aliquid at
      asperiores! Repellendus distinctio voluptas illum accusantium inventore
      quidem, itaque, exercitationem temporibus quam rem alias sequi in dicta
      provident ducimus ab suscipit quasi a maiores ipsum animi deserunt qui?
      Esse officia tempore libero autem vero aspernatur ad error optio
      nesciunt sequi laudantium eligendi quae odit ullam, praesentium cumque
      quibusdam deserunt consequuntur iste, sed fuga similique! Modi id
      officiis, accusantium ipsam doloribus vitae quod quaerat. Veniam,
      laboriosam quisquam. Rerum cumque adipisci quod omnis. Perferendis,
      tempora rerum.
    </div>
    <div class="box right-container_module">
      <div class="view-module-side">
        <p class="side_modul-title">itle 01 Module itle 01 Module itle 01</p>
        <div class="side_module-actions">
          <a class="side_module_action-link" href="#">Edit</a>
          <a class="side_module_action-link" href="#">Delete</a>
        </div>
      </div>
      <div class="view-module-side">
        <p class="side_modul-title">itle 01 Module itle 01 Module itle 01</p>
        <div class="side_module-actions">
          <a class="side_module_action-link" href="#">Edit</a>
          <a class="side_module_action-link" href="#">Delete</a>
        </div>
      </div>
      <div class="view-module-side">
        <p class="side_modul-title">itle 01 Module itle 01 Module itle 01</p>
        <div class="side_module-actions">
          <a class="side_module_action-link" href="#">Edit</a>
          <a class="side_module_action-link" href="#">Delete</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
