{% extends 'layout_user.html' %}
{% block content %}

<section class="form-area align-center">
    <section class="form-section content-dir">
      
      
      <div class="form-header">
        <h1 class="header-text">Login</h1>
      </div>
      <div>
        <form method="POST" class="form-container">
          {{ form.hidden_tag() }}
          <div class="form-element">
            {{ form.username.label }} {% if form.username.errors %}
            {{form.username}}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.username }} {% endif %}
          </div>
          </div>
          <div class="form-element">
            <p>Don't have account?<a href="{{ url_for('signup') }}" class="active"> Create Account</a></p>
          </div>
  
          <div class="button-element">
            {{ form.submit(class = "buttonForm") }}
          </div>
        </form>
      </div>
    </section>
  </section>


{% endblock %}