
.course-create_-container {
    display: grid;
    grid-template-columns: auto 35vw;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 0px 80px;
    max-width: 100%;
    margin: 0 auto;
}

.course-create_title {
    /* border: 2px solid saddlebrown; */
    /* padding: 10px 20px; */
    padding: 15px 80px;
    background-color: #f1f2f3;
    color: brown;
    text-align: left;
    /* line-height: 30px; */
}
.course-create_title-text{
    font-size: 35px;
}
.module-course_box {
    /* border: 2px solid firebrick; */
    padding: 10px;
    border-radius: 5px;
}



.right-container_module {
    /* border: 2px solid forestgreen; */
    /* background-color: brown; */
    padding: 10px;
    /* transition: 0.2s ease-out; */
}

.view-module-side {
    /* border: 1px solid black; */
    background-color: aliceblue;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
}

.side_modul-title {
    /* border: 2px solid saddlebrown; */
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 500;
}

.side_module-actions {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    /* border: 2px solid saddlebrown; */
}

.side_module_action-link {
    text-decoration: none;
}

.side_module_action-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 800px) {
    .course-create_-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 10px;
    }

    .module-course_box,
    .right-container_module {
        padding: 10px;
    }

    .right-container_module {
        display: none;
    }
    .course-create_title {
        padding-left: 20px;
    }
}