* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.s-ad-header {
    padding: 10px 80px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid white; */
}
.linkedLogo{
    text-decoration: none;
    color:white;

}
.linkedLogo:hover{
    text-decoration: none;
    color: aliceblue;
}
.layout-nav {
    display: flex;
    gap: 20px;
}

.layout-nav-item {
    color: white;
}

.s-ad-head-text {
    font-size: 25px;
    /* text-align: center; */
    font-weight: 600;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    color: white;
}

.container {
    padding: 0px 80px;
}

/* styling forms */



.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-dir {
    flex-direction: column;
}

body {
    height: 100vh;
}

span {
    color: red;
}

.form-area {
    min-height: 80vh;
    /* border: 2px solid firebrick; */
}

.form-section {
    width: 350px;
}

.form-header {
    /* border: 2px solid firebrick; */
    padding: 20px 0;

}

.header-text {
    font-size: 32px;
    text-align: center;
}


textarea{
    line-height: 1.5;
    resize: vertical;
}


input, textarea {
    width: 100%;
    padding: 6px 5px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
}

label {
    display: block;
    font-size: 18px;
    padding: 5px 0;

}

.form-element {
    margin: 5px 0;
}

.button-element {
    /* border: 2px solid forestgreen; */
    padding: 10px 0px;
}

.buttonForm {
    /* background-color: ; */
    border: 2px solid #f17300; 
    color: #f17300;
    background-color: white;
    border-radius: 5px;
    /* color: white; */
    width: fit-content;
    padding: 5px 20px;
    font-size: 18px;
    /* border: none; */
}

.buttonForm:hover {
    /* background-color: rgb(7, 168, 231); */
    background-color: #f17300;
    color: white;
    transition: 0.1s ease-in;
}
.buttonForm1{
    /* background-color: ; */
    border: 2px solid #054a91; 
    color: #054a91;
    background-color: white;
    border-radius: 5px;
    /* color: white; */
    width: fit-content;
    padding: 5px 20px;
    font-size: 18px;
    /* border: none; */
}

.buttonForm1:hover {
    /* background-color: rgb(7, 168, 231); */
    background-color:#054a91 ;
    color: white;
    transition: 0.1s ease-in;
}



p {
    font-size: 16px;
}

