table {
    border-collapse: collapse;
    width: 100%;
    /* max-width: 900px; */
    margin: 20px auto;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 5px 02px;
    text-align: left;
  }
  td{
    font-size: 15px;
  }

  th {
    background-color: #dbe4ee;
  }

